# Python
__pycache__/
*.pyc
venv/
.env

# Node
node_modules/
dist/
build/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Secrets
.env
*.key
*.pem

# Temporary
temp/
cache/

#API KEYS 
api_keys.json